In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv('dataset/SleepStudyData.csv')

In [3]:
data_frame.dropna()

    Enough  Hours PhoneReach PhoneTime  Tired Breakfast
0      Yes    8.0        Yes       Yes      3       Yes
1       No    6.0        Yes       Yes      3        No
2      Yes    6.0        Yes       Yes      2       Yes
3       No    7.0        Yes       Yes      4        No
4       No    7.0        Yes       Yes      2       Yes
..     ...    ...        ...       ...    ...       ...
99      No    7.0        Yes       Yes      2       Yes
100     No    7.0         No       Yes      3       Yes
101    Yes    8.0        Yes       Yes      3       Yes
102    Yes    7.0        Yes       Yes      2       Yes
103    Yes    6.0        Yes       Yes      3       Yes

[102 rows x 6 columns]

In [4]:
affirmation_replace_dict = { 'Yes': 1, 'No': 0}

In [5]:
data_frame["Enough"] = data_frame["Enough"].map(affirmation_replace_dict)

In [6]:
data_frame.head()

   Enough  Hours PhoneReach PhoneTime  Tired Breakfast
0       1    8.0        Yes       Yes      3       Yes
1       0    6.0        Yes       Yes      3        No
2       1    6.0        Yes       Yes      2       Yes
3       0    7.0        Yes       Yes      4        No
4       0    7.0        Yes       Yes      2       Yes

In [7]:
data_frame["PhoneReach"] = data_frame["PhoneReach"].map(affirmation_replace_dict)

In [9]:
data_frame["PhoneTime"] = data_frame["PhoneTime"].map(affirmation_replace_dict)

In [10]:
data_frame["Breakfast"] = data_frame["Breakfast"].map(affirmation_replace_dict)

In [11]:
data_frame.head()

   Enough  Hours  PhoneReach  PhoneTime  Tired  Breakfast
0       1    8.0           1          1      3          1
1       0    6.0           1          1      3          0
2       1    6.0           1          1      2          1
3       0    7.0           1          1      4          0
4       0    7.0           1          1      2          1

In [12]:
data_frame.tail()

     Enough  Hours  PhoneReach  PhoneTime  Tired  Breakfast
99        0    7.0           1          1      2          1
100       0    7.0           0          1      3          1
101       1    8.0           1          1      3          1
102       1    7.0           1          1      2          1
103       1    6.0           1          1      3          1

In [14]:
import sklearn
from sklearn import svm, preprocessing

In [15]:
data_frame = sklearn.utils.shuffle(data_frame)

In [16]:
data_frame.to_csv('dataset/SleepStudyDataForAnalysis.csv')